  <h1>Bienvenido a La pagina secreta!<%= @name %></h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>

<form action="/users/<%= session[:id]%>" method="post">
  <input type="text" name="url" placeholder="Escribe aqui la url">
  <input type="submit">
</form>

<p>TODAS URLS:</p> 
<% Url.all.each do |value| %>
  <a href="/<%= value.short_url %>" target="blank"><%= "http://codea.com/" + value.short_url %><br></a>
<% end %>
<p>TUS URLS:</p> 
<%= p urls= Url.where(user_id: session[:id]) %>

 
<p> <%= session[:id] %> </p>
<hr>
<hr>
<hr>
<a href="/logout" ><button type="button">Logout</button></a>
<a href="/<%= urls.short_url %>" target="blank"><%= "http://codea.com/" + urls.short_url %><br></a>